html, body {
    margin: 0;
    padding: 0;
}

body > form {
    padding: 10px 0;
    border-bottom: 1px solid #1A9CB0;
    position: relative;
}
span {
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 15px;
    transform: scaleX(0.8);
    color: #1A9CB0;
}
input[type = number] {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #747386;
    -webkit-box-shadow: inset -7px -7px 2px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: inset -7px -7px 2px -6px rgba(0,0,0,0.2);
    box-shadow: inset -7px -7px 2px -6px rgba(0,0,0,0.2);
}
input[type="button"] {
    /*padding: 8px;
    color: #b6124a;
    */
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    /*line-height: 20px;
    font-size: 15px;
    background-color: #f5ebeb;
    border-radius: 4px;
    border: 2px solid #b6124a;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
    */
    font-weight: bold;
    font-stretch: condensed;
    transform: scaleX(0.8);
}

input[type="button"]:hover {
    cursor: pointer;
    background-color: #1A9CB0;
}

.canvas-container {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    padding: 0;
}

.white {
    background-color: #fff;
}

.removePicture {
    background: url('./../images/close.png');
    width: 24px;
    height: 24px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-header {
    padding: 5px 15px;
}

.panel.modal-content {
    padding-top: 15px;
}

.modal-footer {
    padding-bottom: 0;
}

.modal-body form > label {
    display: block;
}
