body {
    font-family: 'Oswald Regular',Arial,sans-serif;
}

a {
    text-decoration: none;
}

.bg-gray {
    background-color: #F5F5F5;
}

.uui-button {
    display: inline-block;
    height: 36px;
    line-height: normal;
    padding: 6px 18px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e5e5e5;
    background: #e5e5e5;
    color: #666;
    font-size: 14px;
    font-family: 'Oswald Regular',Arial,sans-serif;
    letter-spacing: .25px;
    text-transform: uppercase;
}

a.uui-button {
    padding: 7px 18px 5px 18px;
}

.uui-button.large {
    height: 48px;
    padding: 10px 24px;
    font-size: 18px;
}

.panel {
    box-sizing: border-box;
    display: block;
    width: 500px;
    margin: 5px 5px 25px 5px;
    padding: 25px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(51,51,51,.3);
}

.blue {
    background-color: #39c2d7;
    color: #fff;
}

.dark-blue {
    background-color: #1A9CB0;
    color: white;
}

.lime-green {
    background-color: #a3c644;
    color: #fff;
}

.dark-gray {
    background-color: #464547;
    color: #fff;
}

.fuchsia {
    background-color:  #E4445F;
    color: #fff;
}

.raspberry {
    background-color: #b22746;
    color: #fff;
}

.orange {
    background-color: #ff9b19;
    color: #fff;
}

/* Checkbox
<p class="uui-checkbox">
    <input type="checkbox" id="a1" />
    <label for="a1">Checkbox</label>
</p>
*/

.uui-checkbox label {
    position: relative;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    padding-left: 18px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
    color: #666;
}

.uui-checkbox label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #fff;
    border: 1px solid #ccc;
}

.uui-checkbox input:checked+label:after {
    font-family: FontAwesome;
    content: "\f00c";
    opacity: 1;
}

/* Dropdown
<select class="selectpicker uui-form-element">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
</select>
*/

/* Label
<span class="uui-label">Label</span>
*/

.uui-label {
    display: inline-block;
    min-width: 18px;
    height: 18px;
    line-height: 16px;
    padding: 0 9px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #999;
    border-radius: 9px;
    background: #fff;
    color: #999!important;
    font-size: 10px;
    font-family: 'Oswald Regular',Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .25px;
}

/* Radio buttons
<div class="uui-input-group vertical">
    <p class="uui-radio">
        <input type="radio" name="radio01" id="a1" checked />
        <label for="a1">Radio Button 1</label>
    </p>
    <p class="uui-radio">
        <input type="radio" name="radio01" id="a2" />
        <label for="a2">Radio Button 2</label>
    </p>
</div>
*/

.uui-input-group.vertical {
    display: inline-block;
}

p {
    margin: 0 0 10px;
}

.uui-radio input {
    display: none;
}

.uui-radio.large label {
    padding-left: 25px;
}

.uui-radio label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    -webkit-transition: border-color .3s ease-in;
    -moz-transition: border-color .3s ease-in;
    -o-transition: border-color .3s ease-in;
    transition: border-color .3s ease-in;
}

.uui-radio input:checked+label:before {
    border-color: #39c2d7;
}

.uui-radio.large label:before {
    margin-top: 1px;
    width: 16px;
    height: 16px;
}

.uui-radio label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 2px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: background .3s ease-in;
    -moz-transition: background .3s ease-in;
    -o-transition: background .3s ease-in;
    transition: background .3s ease-in;
}
.uui-radio input:checked+label:after {
    background: #39c2d7;
}
.uui-radio.large label:after {
    margin-top: 4px;
    margin-left: 3px;
    width: 10px;
    height: 10px;
}

header .uui-header {
    height: 60px;
    background: #464547;
}

.nav {
    display: block
}

header .uui-header .uui-toggle-box {
    position: relative;
    float: left;
    width: 54px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    background: #333;
}

header .uui-header .uui-toggle-box span {
    display: block;
    position: absolute;
    height: 2px;
    width: 18px;
    background: #fff;
    left: 18px;
}

header .uui-header .uui-toggle-box span:nth-child(1) {
    top: 20px;
}

header .uui-header .uui-toggle-box span:nth-child(2) {
    top: 27px;
}

header .uui-header .uui-toggle-box span:nth-child(3) {
    top: 34px;
}

header .uui-header.sidebar-header nav .brand-logo {
    background: #464547;
}

header .uui-header .brand-logo {
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    color: #fff;
    padding: 0 18px;
    font-family: 'Oswald Regular',Arial,sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    background: 0 0;
    white-space: nowrap;
}

header .uui-header .brand-logo .logo {
    float: left;
    width: auto;
    height: 34px;
    margin: 13px 6px 0 0;
}

.aside-example {
    background: #f5f5f5;
    height: 350px;
    position: static;
}

aside {
    display: block;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
}

aside .uui-side-bar {
    position: fixed;
    left: 0;
    top: 60px;
    z-index: 1001;
    width: 260px;
    height: 100%;
    background: #333;
    display: none;
}

aside .uui-side-bar ul>li>a {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 18px;
    color: #fff;
}

aside .uui-side-bar ul>li>a span {
    display: inline-block;
    font-family: 'Oswald Regular',Arial,sans-serif;
    letter-spacing: .15px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.aside-example .sidebar-example {
    height: 350px!important;
    display: block!important;
    position: static;
}

.aside-example .sidebar-example .sidebar-menu {
    margin: 0;
}

aside .uui-side-bar ul>li {
    display: inline-block;
    width: 100%;
    margin: 0;
    list-style: none;
    box-shadow: inset 0 -1px #3d3d3d;
}
