body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h2, p {
    color: gray;
 }

#reset {
    background: #FF9999;
}
#edit {
    background: #FFFF99;
    color: grey;
}
form[name="add-estimation"] {
    width: 500px;
    min-height: 100%;
    height: 100%;
    background-color: rgb(64, 74, 88);
    color: white;
}
form[name="add-estimation"] p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(177, 64, 255);
}
form[name="add-estimation"] .collapse {
    float: right;
    margin: -70px 0;
    font-size: 55px;
    text-decoration: none;
    color: white;
}
form[name="add-estimation"] form {
    padding: 10px 20px;
}
form[name="add-estimation"] .input-group, .buttons {
    margin: 10px 0;
}

.buttons {
    text-align: right;
    margin-right: 35px;
}

.input-group input, .input-group textarea {
    border: none;
    box-shadow: inset -1px -1px 5px rgba(0,0,0,0.5);
    text-align: right;
}

form[name="add-estimation"] label {
    display: inline-block;
    width: 109px;
    text-align: right;
    margin-right: 10px;
    vertical-align: top;
}
form[name="add-estimation"] label[for=html] {
    vertical-align: top;
}
form[name="add-estimation"] input,
form[name="add-estimation"] textarea {
    color: rgb(153, 153, 153);;
    padding: 5px 10px;
    outline: 0;
    border-color: transparent;
    border-radius: 4px;
    width: 280px;
    resize: none;
}
form[name="add-estimation"] textarea {
    height: 150px;
}
input[type = button] {
    width: 85px;
    float: right;
    margin: 10px 0px 12px 23px;
    padding: 15px;
    background: rgb(177, 64, 255);
    color: white;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
}
